@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Century Old Style";
  src: url("/fonts/CenturyOldStyleStdRoman/font.woff2") format("woff2"),
    url("/fonts/CenturyOldStyleStdRoman/font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marfa";
  src: url("/fonts/Marfa/ABCMarfa-Light.woff2") format("woff2"),
    url("/fonts/Marfa/ABCMarfa-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SchoolBook-Cond";
  src: url("/fonts/schoolbook-cond-webfont-full/webfonts/schoolbook-cond.woff2") format("woff2"),
    url("/fonts/schoolbook-cond-webfont-full/webfonts/schoolbook-cond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courier";
  src: url("/fonts/CourierNew/CourierNew.woff2") format("woff2"),
    url("/fonts/CourierNew/CourierNew.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Garamond";
  src: url("/fonts/Garamond/Garamond.woff2") format("woff2"),
    url("/fonts/Garamond/Garamond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@custom-variant dark (&:is(.dark *));

:root {
  --background: #fbf7e5;
  --custom-button: #fbd060;
  --custom-button-dark: #1e1204;
  --foreground: #40362c;
  --card: oklch(0.9853 0.0069 88.6416);
  --card-foreground: #40362c;
  --popover: oklch(0.9853 0.0069 88.6416);
  --popover-foreground: oklch(0.3404 0.0221 66.9708);
  --primary: oklch(0.3404 0.0221 66.9708);
  --primary-foreground: oklch(0.9853 0.0069 88.6416);
  --secondary: oklch(0.9646 0.0057 84.5663);
  --secondary-foreground: #50462d;
  --muted: rgba(79, 69, 44, 0.5);
  --muted-foreground: oklch(0.5445 0.0296 76.5643);
  --accent: oklch(0.9646 0.0057 84.5663);
  --accent-foreground: oklch(0.3404 0.0221 66.9708);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9853 0.0069 88.6416);
  --border: oklch(0.8898 0.0175 84.5891);
  --input: oklch(0.8898 0.0175 84.5891);
  --ring: oklch(0.5445 0.0296 76.5643);
  --chart-1: oklch(0.3404 0.0221 66.9708);
  --chart-2: oklch(0.4341 0.0279 64.8738);
  --chart-3: oklch(0.5445 0.0296 76.5643);
  --chart-4: oklch(0.6702 0.0319 75.5366);
  --chart-5: oklch(0.7899 0.0278 80.2194);
  --sidebar: oklch(0.9646 0.0057 84.5663);
  --sidebar-foreground: oklch(0.3404 0.0221 66.9708);
  --sidebar-primary: oklch(0.3404 0.0221 66.9708);
  --sidebar-primary-foreground: oklch(0.9853 0.0069 88.6416);
  --sidebar-accent: oklch(0.8898 0.0175 84.5891);
  --sidebar-accent-foreground: oklch(0.3404 0.0221 66.9708);
  --sidebar-border: oklch(0.8898 0.0175 84.5891);
  --sidebar-ring: oklch(0.5445 0.0296 76.5643);
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-geist-mono);
  --font-century: "Century Old Style", serif;
  --font-courier: "Courier", monospace;
  --font-garamond: "Garamond", serif;
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
    0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
    0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
    0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
    0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

@theme inline {
  --custom-button: var(--custom-button);
  --custom-button-dark: var(--custom-button-dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-courier: var(--font-courier);
  --font-garamond: var(--font-garamond);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-schoolbook-cond {
  font-family: "SchoolBook-Cond", sans-serif;
}

.font-century {
  font-family: var(--font-century);
}

.heading {
  font-family: var(--font-century);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.small-text{
  font-size: 0.9375rem;
  line-height: 18px;
  letter-spacing: 0.04688rem;
  font-family: "SchoolBook-Cond", sans-serif;
  font-weight: 400;
}